<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Bootique Mvc Mustache Demo</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

<!-- Page Content -->
<div>
    {{#model}}
        <b> userName:</b> {{userName}}  <br>
        <b> displayName:</b> {{displayName}}
    {{/model}}
</div>
</body>
</html>